@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Serif JP', serif;
}

body {
    background-image: url(../imgs/main-maru.jpg);
    background-size: cover;
    background-attachment: fixed;
    top: 0;
}

a {
    text-decoration: none;
}

/*ヘッダー*/
header {
    display: flex;
    position: fixed;
    
    top: 0;
    width: 100vw;
    padding: 1%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFEF2;
    z-index: 10;
    
}

header h1 {
    font-size: 1.7em;
    display: block
}

header h1 img {
    width: 35px;
    height: 35px;
}

header .logo {
    display: none;
}

header nav {
    width: 600px;
    margin-left: auto;
}


header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li {
    width: 150px;
    line-height: 2;
    font-size: 1.3em;
    text-align: center;
}

header nav ul li a {
    transition: 0.5s;
    text-shadow: 0.5px 0 0 #fff;
}

header nav ul li a:hover {
    color: #E82015;
    border-bottom: 1px solid #E82015;
}

.menu-trigger,
.menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.menu-trigger {
    position: relative;
    width: 50px;
    height: 44px;
    margin-left: auto;
}

.menu-trigger span {
    position: absolute;
    right: 0;
    width: 50px;
    height: 5px;
    background-color: #fff;
    border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
    top: 0;
}

.menu-trigger span:nth-of-type(2) {
    top: 20px;
}

.menu-trigger span:nth-of-type(3) {
    bottom: 0;
}


header a {
    color: #FFFEF2;
}

header a:hover {
    opacity: 0.8;
}

header .reserveted {
    writing-mode: vertical-rl;
    width: 10%;
    height: 150px;
    position: fixed;
    bottom: 10%;
    right: 0;
    border-radius: 2px;
}

header .reserveted p a {
    display: block;
    width: 3%;
    height: 120px;
    background-color: #E83015;
    text-align: center;
    padding: 10% 3% 10% 0;
    transition: 1s;
}

header .reserveted p a:hover {
    padding-right: 10%;
    background-color: #E83015;
    opacity: 1.0;
}

/*メイン-トップ画像重ね文字*/
.bg-transtext {
    position: relative;
    width: 100vw;
    height: 95vh;
    margin-top: 8%;
    font-size: 2em;
    letter-spacing: 0.2em;
    color: #FFFEF2;
    font-family: "Hannari";
    writing-mode: vertical-rl;
    background-color: transparent;
    box-sizing: border-box;
}

.bg-transtext p:first-child {
    position: absolute;
    right: 45%;
}

.bg-transtext p:last-child {
    position: absolute;
    right: 50%;
}

/*メイン-各セクション*/
.bg-sec {
    width: 100vw;
    background-color: #FFFEF2;
    color: #FFFEF2;
}

/*メイン-ようこそセクション*/
.welcome-to-maru {
    text-align: center;
    font-size: 1.5em;
    line-height: 5;
    padding: 3%;
    color: black;
    box-sizing: border-box;
}

.welcome-to-maru img {
    width: 100px;
    margin-top: 20%;
}

.welcome-to-maru p:last-child {
    line-height: 1;
}

.tbborder {
    position: relative;
    display: inline-block;
}

/*メイン-温泉セクション*/
.marus-onsen {
    position: relative;
    padding-top: 10%;
}

.onsentop {
    display: flex;
    width: 100%;
}

.onsentop img {
    width: 80%;
}

.airbox {
    width: 20%;
}

.marus-onsen .text-box {
    background-color: #000;
    width: 85%;
    padding-left: 14%;
    box-sizing: border-box;
    position: absolute;
    top: 80%;
    right: 0;
    z-index: 8;
}

.marus-onsen .text-box h2 {
    line-height: 4;
    border-left: 2px solid #E83015;
    padding: 1%;
}

.marus-onsen .text-box p {
    line-height: 5;

}

.marus-onsen .text-box a {
    color: #FFFEF2;
    border: 1px solid #FFFEF2;
    padding: 1%;
}

.marus-onsen .text-box a:hover {
    opacity: 0.8;
}



/*メイン-部屋セクション*/
.marus-oheya {
    position: relative;
    padding-top: 15%;
}

.heya-top {
    display: flex;
    width: 100%;
}

.marus-oheya img {
    width: 80%;
}

.marus-oheya .text-box {
    background-color: #000;
    width: 85%;
    padding-right: 20%;
    box-sizing: border-box;
    position: absolute;
    top: 80%;
    z-index: 8;
    text-align: right;
}

.marus-oheya .text-box h2 {
    line-height: 4;
    border-right: 2px solid #E83015;
    padding: 1%;
}

.marus-oheya .text-box p {
    line-height: 5;
}

.marus-oheya .text-box p a {
    color: #FFFEF2;
    border: 1px solid #FFFEF2;
    padding: 1%;
}

.marus-oheya .text-box p a:hover {
    opacity: 0.8;
}

/*メイン-お料理セクション*/
.marus-oryori {
    position: relative;
    padding-top: 15%;
}

.marus-oryori img {
    width: 80%;
}

.oryori-top {
    display: flex;
}

.oryori-top .airbox {
    width: 20%;
}

.marus-oryori .text-box {
    background-color: #000;
    width: 85%;
    padding-left: 16%;
    box-sizing: border-box;
    position: absolute;
    top: 80%;
    right: 0;
}

.marus-oryori .text-box h2 {
    line-height: 4;
    border-left: 2px solid #E83015;
    padding: 1%;
}

.marus-oryori .text-box p {
    line-height: 5;
}

.marus-oryori .text-box p a {
    color: #FFFEF2;
    border: 1px solid #FFFEF2;
    padding: 1%;
}

.marus-oryori .text-box p a:hover {
    opacity: 0.8;
}

/*メイン-アクセスセクション*/
.access {
    padding-top: 10%;
}

.access-top {
    width: 100;
    display: flex;
}

.access-top img {
    width: 20%;
    height: 100vh;
}

.access-top .bgimg {
    width: 20%;
    height: 90vh;
    background-image: url(../imgs/kaga_main_img1_sp.jpg);
    background-size: cover;
    background-repeat: ;
}

.access-top .text-box {
    width: 80%;
    text-align: center;
    background-color: #000;
}

.access-top .text-box h3 {
    font-size: 1.5em;
    line-height: 3;
    margin-top: 10%;
}

.access-top .text-box p {
    line-height: 2;
}

.reservated p a {
    color: #FFFEF2;
    border-bottom: 1px solid #FFFEF2;
}

.reservated p a:hover {
    opacity: 0.8;
}

iframe {
    margin-top: 1%;
    width: 100vw;
    height: 500px;
}

/*フッターセクション*/
footer {
    width: 100vw;
    padding: 5% 5% 1% 5%;
    background-color: #000;
    color: #FFFEF2;
    box-sizing: border-box;
}

.footer-wrap {
    display: flex;
}

.footer-top {
    width: 50%;
    display: flex;
}

.footer-top .imgbox {
    width: 30%;
    height: 25vh;
}

.footer-top img {
    width: 50%;
    height: 50%;
    padding-top: 10%;
    padding-left: 40%;
}

.footer-top .text-box {
    width: 50%;
    line-height: 2;
}

.footer-top .text-box p {
    font-size: 1em;
}

.footer-top .text-box h4 {
    font-size: 1.5em;
    font-weight: normal;
}

footer nav {
    width: 25%;
}

footer nav ul {
    list-style-type: none;
    line-height: 3;
}

footer nav ul li a {
    color: #FFFEF2;
}

footer nav ul li a:hover {
    opacity: 0.8;
}

footer .snsicons {
    display: flex;
}

footer .snsicons p {
    padding: 20%;
}

footer p small {
    display: block;
    text-align: center;
}
